.featuredChart {
	-webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.47);
	box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
	flex: 1;
	margin: 10px 20px;
	padding: 5px 10px;
	border-radius: 10px;
	gap: 20px;
	border-radius: 10px;
	.top_featured {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: gray;
		gap: 80px;
		.title_featured {
			font-size: 14px;
			font-weight: 500;
			color: black;
		}
	}
	.bottom_featured {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		margin-top: 20px;
		.featuredProgressChart {
			height: 100px;
			width: 100px;
		}
		.descData {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;

			.title {
				font-weight: 500;
				color: gray;
			}
			.amount {
				font-size: 30px;
			}
			.desc {
				font-weight: 300;
				font-size: 12px;
				color: gray;
				text-align: center;
			}
		}
		.summary {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
			.item {
				text-align: center;

				.itemTitle {
					font-size: 14px;
					color: gray;
				}

				.itemResult {
					display: flex;
					align-items: center;
					margin-top: 10px;
					font-size: 14px;

					&.positive {
						color: green;
					}

					&.negative {
						color: red;
					}
				}
			}
		}
	}
}
