.userList {
	flex: 4;
	height: 80vh;
}

.userListUser {
	display: flex;
	align-items: center;
}
.userListUser img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.ActionsBox {
	display: flex;
	align-items: center;
}

.userListEdit {
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: #3bb077;
	color: white;
	cursor: pointer;
	margin-right: 20px;
}

.userListDel {
	color: red;
	cursor: pointer;
}
