.footer {
	width: 100%;
	height: 60px;
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: rgb(184, 216, 228);
	background-color: #030305;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}
