.main {
	width: 100%;
	height: calc(100vh - 160px);
	background-image: url(https://raw.githubusercontent.com/contactKunalDixit/PROJECTS_React/main/Portfolio_FireItems/Car_WorkShop_Landing_page/car_workshop/src/Img/guille-sanchez-9nxrdT2SMCg-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
	.main {
		background-size: cover;
	}
}
