.main {
	width: 100%;
	height: calc(100vh - 140px);
	background-image: url(https://raw.githubusercontent.com/contactKunalDixit/Proj8_PU_Automotive_car_Design/main/guille-sanchez-9nxrdT2SMCg-unsplash%20(
			1
		).jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
https: ps://raw.githubusercontent.com/contactKunalDixit/Proj8_PU_Automotive_car_Design/main/guille-sanchez-9nxrdT2SMCg-unsplash%20(1).j;
