.app {
	width: 80%;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ulist {
	list-style-type: none;
	text-align: left;
}

.dateRange {
}

button {
	width: 25%;
	margin: 50px auto;
	border: 2px solid rgb(99, 80, 80);
	font-size: 0.9rem;
	border-radius: 3px;
}
button:hover {
	background-color: antiquewhite;
}

.error {
	color: red;
}
