.scrolling_wrapper_flexbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	/* height: 100px; */
	width: 100vw;
	-webkit-overflow-scrolling: touch;
}

.card {
	flex: 0 0 auto;
	/* height: 100px; */
	padding: 15px;
	margin: 15px;
	background-color: rgb(219, 219, 219);
	border-radius: 5px;
}

.card > h2 {
	font-size: 16px;
	font-weight: 400;
}
