.navbar {
	width: 100vw;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0px;
	background-color: rgb(197, 159, 159);
	z-index: 100;
}
.Sec1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar_left {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar_left > p {
	font-size: 16px;
	font-weight: 500;
}
.navbar_center {
	flex: 2;

	/* font-size: 32px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar_center > h1 {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.navbar_right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
}
/* #userInput {
	width: 100%;
	font-size: 16px;
	border: none;
	font-style: italic;
	font-family: 'Hind Madurai', sans-serif;
}

#menuButton {
	background-color: transparent;
	border: none;
} */

.Sec2 {
}
