.SlideMenu {
	width: 100%;
	position: absolute;
	top: 100px;
}

.Wrapper {
	width: 80%;
	background-color: pink;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* padding: 20px; */
}

.ulist {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style-type: none;
}

.list {
	margin: 8px;
	cursor: pointer;
}
