.SlideMenu {
	width: 40%;
	height: 90vh;
	position: absolute;
	top: 100px;
	right: 0px;
	z-index: 10;
}

.Wrapper {
	width: 100%;
	background-color: pink;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	/* padding: 20px; */
}

.ulist {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
	list-style-type: none;
}

.list {
	margin: 18px;
	cursor: pointer;
}
