.widgetLg {
	flex: 2;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 11px -1px #c2bcbc;
	box-shadow: 0px 0px 11px -1px #c2bcbc;
}
.widgetLgTitle {
	font-size: 22px;
	font-weight: 600;
}

.widgetLgTable {
	width: 100%;
	border-spacing: 20px;
	text-align: center;
}

.widgetLgUser {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.widgetLgImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 30px;
}

.widgetLgDate,
.widgetLgAmount {
	font-weight: 400;
}
.widgetLgButton {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 7px 10px;
}

.widgetLgButton.Approved {
	background-color: #30be5d;
}
.widgetLgButton.Declined {
	background-color: #d63818;
}
.widgetLgButton.Pending {
	background-color: #d4cf9d;
}
