.widgetLg {
	flex: 2;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 11px -1px #c2bcbc;
	box-shadow: 0px 0px 11px -1px #c2bcbc;
	height: ;
}
.widgetLgTitle {
	font-size: 22px;
	font-weight: 600;
}

.widgetLgImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.widgetLgButton {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 7px 10px;
}

.widgetLgButton.Approved {
	background-color: #39cf95;
}
.widgetLgButton.Declined {
	background-color: #cf4f39;
}
.widgetLgButton.Pending {
	background-color: #cfc039;
}
