.container {
	height: 50 px;
}

.wrapper {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerLeft {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: bold;
	text-decoration: underline crimson;
}

.menu {
}

.menuGroup {
	display: flex;
	list-style-type: none;
	align-items: center;
}
.menuItem {
	margin-right: 30px;
	font-size: 20px;
	font-weight: 400;
	color: gray;
	cursor: pointer;
}

.buttonRight {
	padding: 5px 10px;
	cursor: pointer;

	border-radius: 10px;
	border: 2px solid rgb(255, 255, 255);
	background-color: crimson;
	color: white;
}

.buttonRight:hover {
	background-color: rgb(13, 44, 100);
	color: white;
}
