.navbar {
	width: 100vw;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0px;

	background-color: #fddeb7;
	z-index: 1;
}
.Sec1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar_left {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar_left > p {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif;
}
.navbar_center {
	flex: 2;

	/* font-size: 32px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar_center > h1 {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar_right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar_right > button {
	border-radius: 0%;
	border: 1px solid grey;
	background-color: grey;
	cursor: pointer;
	padding: 5px 15px;
}
